$mainTextColor: #ffffff;
$buttonColor: #e3ac00;
$contentBackgroundColor: #21232e;
$itemCardBackground: #3b3f50;
$itemCardColorHeader: #ffffff;
$itemCardParagraph: #d1d1b8;
$footerBackground:#3b3f50;
$sectionBannerBackground: linear-gradient(45deg, rgba(221,163,5,1) 0%, rgba(148,47,81,1) 100%);
$mainBackground: url(../img/m-h-night.jpg);
$borderRadius: 0 0 42% 0;
$fontFamilyFirst: 'Source Sans Pro', sans-serif;
$fontFamilySecond: 'Hind', sans-serif;
$fontFamilyThird: 'Fresca', sans-serif;
$underlineColor :#ff4e33;
$itemBorderRadius: 10px;
$border-radius: 5px;
$bannerSecondColor: #cbb9c6;
$footerColor: #d1d1d1;
$colors: (
        mainTextColor:  #ffffff,
        underlineColor: #ff4e33,
        buttonColor: #e3ac00
);