$mainTextColor: #2c2f3c;
$textLineColor: #14a0c7;
$buttonColor: #699900;
$contentBackgroundColor: #ffffff;
$itemCardBackground: #21232e;
$itemCardColorHeader: #ffffff;
$itemCardParagraph: #b6c3ce;
$footerBackground:#21232e;
$sectionBannerBackground: linear-gradient(45deg, rgba(103,151,8,1) 0%, rgba(47,94,211,1) 100%);
$mainBackground: url(../img/m-h-day.jpg);
$borderRadius: 0 0 42% 0;
$buttonColor: #699900;
$underlineColor :#14a0c7;
$itemBorderRadius: 10px;
$border-radius: 5px;
$bannerSecondColor: #a2bece;
$footerColor: #c0c3ce;
$fontFamilyFirst: 'Source Sans Pro', sans-serif;
$fontFamilySecond: 'Hind', sans-serif;
$fontFamilyThird: 'Fresca', sans-serif;
$colors: (
        mainTextColor:  #2c2f3c,
        underlineColor: #14a0c7,
        buttonColor: #699900
);